@tailwind base;
@tailwind utilities;
@tailwind components;

.overflow_height{
    max-height: 35vh;
    overflow-y: hidden;
}
:root {
    --hero_color: #fff;
    --primary: #2675dc;
    --secondary1: #112b4d;
    --secondary2: #296cc3;
    --secondary3: #0d223c;
    --secondary4: #f1f4f1;
    --secondary5: #fffefe;
    --secondary6: #164e96f8;
    --secondary7: #211f1f;
}

* {
    @apply p-0 m-0;
}

body {
    overflow-x: hidden !important;
}

body, footer{
    /* background-color: var(--secondary5) !important; */
}

nav{
    /* background-color: rgba(38, 117, 220, 1); */
}

section {
    margin: auto;
    margin-top: 4rem;
}

option{
    color: var(--secondary4);
}

input::placeholder {
    font: .2rem !important;
}

.m_extra{
    margin-top: 6rem;
}

svg{
    color: var(--primary);
}

.h_100{
    height: 100vh;
}



.bg_one{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    color: var(--hero_color);
}
.line_in_middle{
    display: flex;
    flex-direction: row;
}
.line_in_middle:before, .line_in_middle:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--secondary4);
    margin: auto;
  }
  .line_in_middle:before {
    margin-right: 40px;
  }
  .line_in_middle:after {
    margin-left: 40px;
  }
/* ._width{
    width: 100%;
    position: relative;
} */
input[type="submit"]{
    background-color: var(--primary) ;
}

input:focus, textarea:focus{
    outline: none;
}

.first_item {
    margin-top: 85vh;
}

.first_item_extra {
    margin-top: 95vh;
}
.first_item_extra_sm {
    margin-top: 85vh;
}

.first_item_hero {
    margin-top: 95vh;
}

.m_auto{
    margin: auto;
}*
button[type="submit"]{
    background-color: var(--primary);
}
/* GET STARTED START */

#get_started{
    background-color: var(--primary);
}
#get_started button{
    height: fit-content;
}

.section_space{
    width: 95vw;
}



/* GET STARTED END */


/* HOMEPAGE START */
.home_port{
    overflow-x: scroll;
}
.home_port div{
    min-width: 300px;
    max-width: 80%;
}
.hero #hero_text{
    margin-top: 30vh;
    color: var(--hero_color) !important;
    margin-left: 15vw;
    margin-right: 5vw;
    max-width: 600px;
}
@media only screen and (max-width: 760px) {
    .hero #hero_text{
        margin-left: 8vw;
    }
  }
#home_caro{
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: -1;
}
#get_started_btn{
    position: absolute;
    top: 50vh;
    left: 10vw;
    z-index: 90;
}
#home_banner{
    height: 100vh !important;
    width: 100vw;
    top: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}
.goback{
    z-index: -1000000 !important;
    height: 100vh;
}

.common_services {
    width: 200px;
}

.learn_more {
    color: var(--secondary1);
}
#over_1{
    background-color: white;
    height: 500px;
}
.more_services {
    /* color: var(--secondary1); */
    text-align: center;
    justify-content: center;
}

#more_services_1, #more_services_1 .second h1{
    background-color: var(--primary);
}
#more_services_1 .second p, #more_services_1 .second svg{
    color: var(--primary) !important;
}
#more_services_2, #more_services_2 .second h1{
    background-color: var(--secondary1);
}
#more_services_2 .second p, #more_services_2 .second svg{
    color: var(--secondary1) !important;
}
#more_services_3, #more_services_3 .second h1{
    background-color: var(--secondary2);
}
#more_services_3 .second p, #more_services_3 .second svg{
    color: var(--secondary2) !important;
}
#more_services_1_about, #more_services_1_about .second h1{
    background-color: #296cc3;
}
#more_services_2_about, #more_services_2_about .second h1{
    background-color: #112b4d;
}
#more_services_3_about, #more_services_3_about .second h1{
    background-color: var(--secondary2);
}
#more_services_4_about, #more_services_4_about .second h1{
    background-color: var(--secondary3) !important;
}
#more_services_4, #more_services_4 .second h1{
    background-color: var(--secondary3);
}
#more_services_4 .second p, #more_services_4 .second svg{
    color: var(--secondary3) !important;
}

.our_portfolio {
    background-color: var(--secondary7);
    margin-bottom: 2rem;
}

.our_portfolio .grid {
    margin: 4rem auto 3rem auto;
}

/* HOMEPAGE END */

/* ABOUT START */
.vision{
    color: #211f1f !important;
}
.mission{
    color: #211f1f !important;
    border-top: 0.12px solid #00000049;
}
.core_h1{
    margin-top: 100px;
    margin-bottom: 100px;
}
.vision_mission .text {
    color: var(--secondary5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ABOUT END */

/* CONTACT START */

.contact_hero{
    height: 40vh;
    
}

#send_message .form{
    right: 5rem;
    top: 20vh;
    margin: auto !important;
}

#send_message_2nd_section{
    height: 50vh;
}
@media only screen and (max-width: 719px) {
    .hero #hero_text{
        margin-left: 8vw;
    }
    #send_message_2nd_section{
        margin-top: 35rem;
    }
    #send_message_2nd_section{
        height: fit-content;
        margin-bottom: 2rem;
    }
  }
/* CONTACT END */

/* OUR_WORK START */

/* OUR_WORK END */

/* BRANDING START */

#purchase_a_package{
    background-color: var(--primary);
}
#purchase_a_package_btn{
    background-color: var(--secondary6) !important;
}
/* BRANDING END */

/* BLOG START */

#posts{
    /* min-height: 10rem; */
    margin-bottom: 5rem;
    margin-top: 5rem;
}

/* BLOG END */

/* SLIDE-START */

.slide_on_hover .slide_item{
    height: 250px;
    overflow: hidden;
}

.slide_on_hover .slide_item .first{
    padding-top: 5.5rem;
    height: 250px;
    width: 100%;
}
@keyframes slow {
    0% {margin-top: 0;border-top-width: 0;}
  10% {margin-top: 0px;}
  100% {margin-top: -250px;border-top-width: 0;}
}
.slide_on_hover .slide_item:hover .first{
    visibility: hidden;
    /* margin-top: -250px; */

}
.slide_on_hover .slide_item:hover .second{
    animation-name: slow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    /* display: none; */
    /* margin-top: -250px; */

}
.slide_on_hover .slide_item .second{
    background-color: var(--hero_color);
    height: 250px;
    /* border: 1px solid var(--secondary4); */
}
.slide_on_hover .slide_item .second h1{
    /* background-color: var(--secondary7); */
    margin-bottom: 5vh;
}

.slide_on_hover .slide_item .second p{
    width: fit-content;
    margin: auto;
}

.slide_on_hover .slide_item .second p span{
    display: block;
    border-bottom: 1px solid var(--secondary4);
    padding-bottom: 1px;
    margin-bottom: 3px;
}



.slide_on_hover_val p{
    margin-top: 4rem !important;
    font-weight: 500;
}
.slide_on_hover_val .slide_item{
    height: 330px;
    overflow: hidden;
}

.slide_on_hover_val .slide_item .first{
    padding-top: 5.5rem;
    height: 330px;
    width: 100%;
}
@keyframes slow_val {
    0% {margin-top: 0;border-top-width: 0;}
    10% {margin-top: 0px;}
    100% {margin-top: -330px;border-top-width: 0;}
}
.slide_on_hover_val .slide_item:hover .first{
    visibility: hidden;
}
.slide_on_hover_val .slide_item:hover .second{
    animation-name: slow_val;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.slide_on_hover_val .slide_item .second{
    /* background-color: #000; */
    height: 330px;
    /* border: 1px solid var(--secondary4); */
}
.slide_on_hover_val .slide_item .second h1{
    /* background-color: var(--secondary7); */
    margin-bottom: 5vh;
}

.slide_on_hover_val .slide_item .second p{
    width: fit-content;
    margin: auto;
}

.slide_on_hover_val .slide_item .second p span{
    display: block;
    border-bottom: 1px solid var(--secondary4);
    padding-bottom: 1px;
    margin-bottom: 3px;
}
/* SLIDE END */

/* OUR WORK START */

.stick{
    border-left: 1px solid #ddd4d4;
}
.our_work_menu{
    background-color: var(--secondary4);
}

/* OUR WORK END */

/* NAV START */
.sub_nav{
    position:fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
}

/* NAV END */
#app {
    height: 100%;
  }
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 500px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .my_nav{
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
  }
  .my_nav button{
    border: 1px solid #fff;
  }













